.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 87vh;
  background-image: linear-gradient(
    to left,
    #ebfef5,
    #cffce4,
    #a3f7ce,
    #3cdd9f
  );
}
.cart-img {
  width: 150px;
}
.cart-progress-container {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-progress-text {
  font-size: 20px;
  font-weight: 500;
  color: #012d22;
  margin-left: 6px;
}
.cart-spinner {
  margin-right: 6px;
  color: #04503a;
}
