.similar-product-image:hover {
  filter: grayscale(100%);
  transition-duration: 2s;
}

.similar-product-item-content-container {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.similar-product-item {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-bottom: 25px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .similar-product-item-content-container {
    margin-left: 0px;
  }
}

@media screen and (min-width: 768px) {
  .similar-product-item {
    width: 200px;
    margin-right: 64px;
    flex-direction: column;
  }
}

.similar-product-image {
  width: 200px;
  border-radius: 8px;
}

.similar-product-title {
  color: #002e22;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 6px;
}

.similar-products-brand {
  color: #03513b;
  font-family: 'Roboto';
  font-size: 16px;
  margin-top: 6px;
}

.similar-product-price-rating-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .similar-product-price-rating-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .similar-product-price {
    margin-bottom: 0px;
  }
}

.similar-product-price {
  color: #002e22;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 4px;
}

.similar-product-rating-container {
  display: flex;
  align-items: center;
  background-color: #3b82f6;
  border-radius: 6px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
}

.similar-product-rating {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  margin-right: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.similar-product-star {
  height: 14px;
  width: 14px;
}
.sub-similar-product-content-container {
  width: 100%;
  flex-wrap: wrap;
}
