.home-heading:hover {
  color: #009d69;
  text-shadow:
    0 0 10px #ebfef5,
    0 0 20px #ebfef5,
    0 0 40px #ebfef5,
    0 0 80px #ebfef5,
    0 0 120px #ebfef5,
    0 0 160px #ebfef5;
  transition-duration: 0.6s;
  letter-spacing: 1px;
}

#shopnowBtn:hover {
  background-color: #ebfef5;
  border: 1px solid #009d69;
  color: #009d69;
  box-shadow:
    0 0 5px #012d22,
    0 0 25px #012d22,
    0 0 5px #012d22,
    0 0 200px #012d22;
  transition-duration: 0.6s;
}

.home-bg-container {
  background-image: linear-gradient(
    to left,
    #ebfef5,
    #cffce4,
    #a3f7ce,
    #3cdd9f
  );
  min-height: 100vh;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 50px;
  width: 90%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .home-container {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 96px;
  }
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .home-content {
    align-items: flex-start;
  }
}

.home-mobile-img {
  width: 206px;
}

@media screen and (min-width: 768px) {
  .home-mobile-img {
    display: none;
  }
}

.home-desktop-img {
  width: 50%;
  max-width: 450px;
  margin-left: 85px;
}

@media screen and (max-width: 767px) {
  .home-desktop-img {
    display: none;
  }
}

.home-heading {
  font-family: 'Roboto';
  font-weight: bold;
  margin-top: 0px;
  font-size: 36px;
  color: #002e22;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .home-heading {
    font-size: 46px;
    text-align: left;
  }
}

.home-description {
  font-family: 'Roboto';
  margin-top: 36px;
  font-size: 14px;
  line-height: 28px;
  color: #026346;
  margin-bottom: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .home-description {
    font-size: 18px;
    margin-top: 0;
    text-align: left;
  }
}

.shop-now-button {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto';
  color: #002e22;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 6px;
  background-color: #08c180;
  margin-top: 20px;
  outline: none;
  cursor: pointer;
  padding-inline: 16px;
}

@media screen and (min-width: 768px) {
  .shop-now-button {
    width: 150px;
    font-size: 16px;
  }
}
